/*
Color palette from https://coolors.co/
#483838 - Old Burgundy
#896565 - Deep Taupe
#D6C89F- Dutch White
#90B77D - Olivine
#42855B- Sea Green
*/

/*Set header container color and give 0 margin
so that body backgroud color is not visible around it (by not allowing any space
 around the container)*/
#header {
  background-color: #483838;
  margin: 0;
}

/*Set header text color, add padding to give more space
around the text and give 0 margin to ensure body background
color is not visible around the header (again, by not allowing any space around
the element). Changed font to monospace*/
h1 {
  color: #D6C89F;
  padding: 10px;
  margin: 0;
  font-family: monospace;
}

/*Set body container color. Set max-width to prevent width property
of other elements in the body from surpassing 1000px. Setting the margin
to auto to center elements in their container. Set the height to 100% of the
viewpoint, meaning the container will span the full height of the screen. The
border radius gives the container rounded corners. And then the hidden overflow
means that any content that is too big to fit in the container will be clipped.
*/
#body-container {
  background-color: #90B77D;
  max-width:1000px;
  margin: auto;
  height: auto;
  border: 2px solid #483838;
  border-radius: 10px;
  overflow: visible;
  position: relative;
}

/*Set body background image and body text colors. For the backgroud image,
it is set to not repeat and to fill the entire page. The text is also aligned to
the center of the page and given a small margin around the body element.
Set font to monospace.*/
body {
  background-image: url("https://raw.githubusercontent.com/lecarver/lecarver.github.io/main/images/backgroundimage.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  color: #483838;
  text-align: center;
  margin: 5px;
  font-family: monospace;
}

/*Align picture to the left and give a margin to the top and left so the picture
is not right on the border.*/
#profile-picture{
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

/*Add padding to give space at the top of the text. Enlarge font size. */
#welcome-text{
  padding-top: 25px;
  font-size: 25px;
}

/* Alight text to the right. Enlarge font size. Give relative
position so any alignment proporties are dont relative to the normal position of
the element. Add additional space to the right of the research interests.*/
#research-interests{
  text-align: right;
  font-size: 20px;
  margin-right: 25px;
}

/*change list bullet style and position bullets so they will be part of then item
and will also align right. */
li{
  list-style-image: url("../images/bulleticon.png");
  list-style-position: inside;
}

#lab-5{
  text-align: left;
  margin: 10px;
}
#lab-5 a:link{
  color:#483838;
}
#lab-5 a:visited{
  color:#896565;
}

#lab-5 a:hover{
  color:#42855B;
}

#lab-6{
  text-align: left;
  margin: 10px;
}
#lab-6 a:link{
  color:#483838;
}
#lab-6 a:visited{
  color:#896565;
}

#lab-6 a:hover{
  color:#42855B;
}
#webmap-reviews{
    text-align: left;
    font-size: 15px;
    margin: 10px;
}

#area-calculator{
  text-align: left;
  margin: 10px;
}

#area_button{
  background-color: #42855B;
  border: none;
  color: #D6C89F;
  font-family: monospace;
  font-size: 15px;
  cursor: pointer;
}
/* Align text to the center and give it an abdolute position so it stays relative
to the browser window. Given the width of the footer 1000px and moved
it 20px from the bottom of the page. Added some padding to add space around the
text and set the text and background colors.*/
#copyright {
  width: inherit;
  text-align: center;
  margin-bottom: 5px;
  padding: 3px;
  background-color: #483838;
  color: #D6C89F;
  position: relative;
}
/*Add color styling to link in the footer*/
footer a:link{
  color:#90B77D;
}
footer a:visited{
  color:#90B77D;
}

footer a:hover{
  color:#896565;
}
