/*
Color palette from https://coolors.co/
#483838 - Old Burgundy
#42855B- Sea Green
#90B77D - Olivine
#D2D79F- Pale Spring Bud
#896565 - Deep Taupe
*/

body {
  background-color: #6D8B74;
  color: #483838;
  text-align: center;

}

h1 {
  color: #D0C9C0
}
