/*
Color palette from https://coolors.co/
#483838 - Old Burgundy
#896565 - Deep Taupe
#D6C89F- Dutch White
#90B77D - Olivine
#42855B- Sea Green

*/

#header {
  background-color: #896565;
}

h1 {
  color: #D2D79F
  padding: 5px;
  margin: 0;
}

#body-container {
  background-color:
  max-width:

}

body {
  background-color: #6D8B74;
  color: #483838;
  text-align: center;

}


#profile-picture{

}

#welcome-text{

}

#research-interests{

}
